absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
blis==0.7.9
boto3==1.26.110
botocore==1.29.110
bs4==0.0.1
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
confection==0.0.4
cymem==2.0.7
Cython==0.29.34
dataclasses-json==0.5.7
docopt==0.6.2
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl
filelock==3.11.0
frozenlist==1.3.3
future==0.18.3
google-auth==2.17.2
google-auth-oauthlib==1.0.0
greenlet==2.0.2
grpcio==1.53.0
huggingface-hub==0.13.4
idna==3.4
inflect==6.0.4
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
langchain==0.0.157
langcodes==3.3.0
llama-index==0.6.0
lmdb==1.4.1
Markdown==3.4.3
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
mpmath==1.3.0
multidict==6.0.4
murmurhash==1.0.9
mypy-extensions==1.0.0
networkx==3.1
nltk==3.8.1
num2words==0.5.12
numexpr==2.8.4
numpy==1.24.2
oauthlib==3.2.2
openai==0.27.6
openapi-schema-pydantic==1.2.4
packaging==23.0
pandas==2.0.1
pathy==0.10.1
preshed==3.0.8
prettyprint==0.1.5
protobuf==4.22.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.10.7
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0
quantulum3==0.8.1
ReFinED==1.0
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.6.0
six==1.16.0
smart-open==6.3.0
soupsieve==2.4.1
spacy==3.5.1
spacy-entity-linker==1.0.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.12
srsly==2.4.6
sympy==1.11.1
tagme==0.1.3
tenacity==8.2.2
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
thinc==8.1.9
tiktoken==0.3.3
tokenizers==0.13.3
torch==2.0.0
tqdm==4.65.0
transformers==4.27.4
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
ujson==5.7.0
Unidecode==1.3.6
urllib3==1.26.15
wasabi==1.1.1
Werkzeug==2.2.3
yarl==1.9.2
